<h3>m-form</h3>

<form class="m-form"
        novalidate
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm?.value)"
>

    <t-field
            [fieldLabel]="'Name'"
            [controlName]="'name'"
            [form]="myForm"
            [isRequired]="true"
            (onControlChange)="formModel.name = $event"
    ></t-field>

    <t-field
            [fieldLabel]="'Surname'"
            [controlName]="'surname'"
            [form]="myForm"
            [isRequired]="true"
            (onControlChange)="formModel.surname = $event"
    ></t-field>

    <t-field
            [fieldLabel]="'Phone'"
            [controlName]="'phone'"
            [form]="myForm"
            [isRequired]="true"
            (onControlChange)="formModel.phone = $event"
    ></t-field>

    <t-field
            [fieldLabel]="'Email'"
            [controlName]="'email'"
            [form]="myForm"
            [isRequired]="true"
            (onControlChange)="formModel.email = $event"
    ></t-field>

    <div *ngIf="!myForm?.valid && !myForm?.pristine" class="m-form__error _margin-top-m">
        Form is invalid
    </div>

    <button type="submit" class="m-form__submit" [disabled]="!myForm.valid">Submit</button>

    <p>myForm?.value: {{myForm?.value | json}}</p>
    <p>formModel: {{formModel | json}}</p>

</form>