<custom-change-detection></custom-change-detection>

<detect-property-change [visible]="detectVisiblePropertyChange"></detect-property-change>   <button class="button" (click)="detectPropertyChange()">!!!Change Visible property!!!</button>

<ng-for-example-with-object></ng-for-example-with-object>


<h1 (click)="onClick($event)">
    {{title}}
</h1>


<p>{{2+2}}</p>

<p>{{getValue()}}</p>

<p>{{person.name}}</p>

<p>{{person1?.name}}</p>

<p></p>

<element-link></element-link>

<data-binding></data-binding>

<class-example></class-example>

<attribute-example></attribute-example>

<style-example></style-example>

<event-example></event-example>

<encapsulation-example></encapsulation-example>

<component-with-directive></component-with-directive>

<ng-for-example></ng-for-example>

<ngswitch-example></ngswitch-example>

<pipe-example></pipe-example>

<transclude-example>
    Transclude component

    <div #innerTranscludeExampleDiv>
        Inner Transclude component
    </div>

    <div ts-content>
        Transcluded content that was initially after div #innerTranscludeExampleDiv
    </div>
</transclude-example>

<parent-component></parent-component>

<rxjs-example></rxjs-example>

<custom-component-creation [htmlContentOuter]="'<p>Outer html with dynamic component &laquo;class-example&raquo; inside <class-example></class-example></p>'"></custom-component-creation>

<el-native-element></el-native-element>

<host-binding></host-binding>


