<m-autocomplete
        [items]="autocomplete"
        [(currentItem)]="currentAutocompleteItem"
></m-autocomplete>


<h1 (click)="onClick($event)">
  {{title}}
</h1>


<p>{{2+2}}</p>

<p>{{getValue()}}</p>

<p>{{person.name}}</p>

<p>{{person1?.name}}</p>

<p></p>

<element-link></element-link>

<data-binding></data-binding>

<class-example></class-example>

<attribute-example></attribute-example>

<style-example></style-example>

<event-example></event-example>

<encapsulation-example></encapsulation-example>

<component-with-directive></component-with-directive>

<ng-for-example></ng-for-example>

<ngswitch-example></ngswitch-example>

<pipe-example></pipe-example>

<transclude-example>
    Content between custom component tags
</transclude-example>

<parent-component></parent-component>

<rxjs-example></rxjs-example>

<inner-html [htmlContentOuter]="'<div class=\'class\'>Attribute html content</div>'"></inner-html>

<el-native-element></el-native-element>

<host-binding></host-binding>


