<h3>Data binding</h3>

<p>
    <!--one-way binding свойство в [prop]-->
    <img [src]="image">

    <!--one-way binding функция (function)-->
    <img [src]="image1" (click)="onImage1Click()">

    <!--2 way data-binding-->
    <input type="text" [(ngModel)]="inputValue" (ngModelChange)="onModelChange()"> {{inputValue}}

    <inner-data-binding
            (onSelectItem)="onSelectItem($event)"
            (onTwoWayClick)="onTwoWayClick($event)"
            [prop]="prop"
            [(twoWayProp)]="inputValue"
    ></inner-data-binding>
</p>